@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body,
* {
	font-family: 'Montserrat', sans-serif!important;
}

#header {
	padding: 0 20px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	.logo {
		@media(max-width: 900px) {
			text-align: center;
		}
	}
	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			display: inline-block;
			padding: 10px;
			font-size: 20px;
			color: #000000;
			text-decoration: none;
		}
	}
	.cart {
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		p {
			margin: 0 0 0 20px;
		}
		@media(max-width: 900px) {
			justify-content: center;
		}
	}
	.search {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.search-icon {
			margin-left: 10px;
		}
		input {
			padding-right: 20px;
		}
		@media(max-width: 900px) {
			justify-content: center;
		}
	}
}

.product-display {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	@media(max-width: 590px) {
		flex-direction: column;
	}
	h4 {
		margin-bottom: 0;
	}
	.display-action {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		p {
			margin: 0;
		}
		div {
			margin-left: 20px;
			span {
				padding: 10px;
				cursor: pointer;
				&:hover {
					background: #eeeeee;
				}
				&.active {
					background: #cccccc;
				}
			}
		}
	}
}

.product-container {
	margin-bottom: 40px;
}

.product-per-page {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: 20px;
	span {
		display: inline-block;
		margin-right: 20px;
	}
}

.showcase {
	text-decoration: none;
}
